@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,600&display=swap');

/* Geral */

/* Variáveis de cores */
:root {
    --color_blue: #4270a1;
    --dark_blue: #0a335f;
    --color_yellow: #fdb313;
    --color_white: #f8f8ff;
    --light_black: #191919;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: var(--color_blue);
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização de links */
.top_title a, .bottom_subtitle a, .top_container ul li a, footer .bottom_container ul a {
    color: var(--color_white);
}

/* Estilização do Cabeçalho */
.top_title a {
    font-weight: bold;
    font-size: 25px;
}

.bottom_subtitle a {
    font-size: 15px;
}

.top_container ul li :hover, footer .bottom_container ul li :hover {
    color: var(--color_yellow);
}

.header_bgd {
    background-color: var(--bgd_color);
}

.top_container {
    max-width: 1440px;
    padding: 3%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_container ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.top_container ul li {
    margin: 0 35px;
    font-size: 15px;
}

/* Imagens */
.image_container img, .image_item img {
    width: 100%;
    height: auto;
}

.image_item img {
    height: 400px;
    scroll-snap-align: center;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: var(--color_blue);
    max-width: 1440px;
    padding: 3%;
    margin: 0 auto;
}

footer .bottom_container {
    justify-content: space-between;
    display: flex;
    color: var(--color_white);
}

footer .bottom_container ul {
    list-style: none;
    width: 25%;
}

footer .bottom_container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

/* Títulos genéricos */
.generic_title { 
    color: var(--dark_blue);
    background-color: var(--color_yellow); 
    text-align: center; 
    font-size: 24px; 
    padding-top: 4%; 
}

/* Sobre mim */
.container_about_me {
    background-color: var(--color_white);
    font-size: 25px;
    padding: 5%;
    color: var(--light_black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.image_about_me img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid var(--color_yellow);
    flex-shrink: 0;
}

.text_about_me {
    flex: 1;
}

/* Currículo */
.curriculum_container {
    background-color: var(--color_yellow);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    padding: 6%;
}

.academic_container, .languages_container, .skills_container {
    flex: 1;
    min-width: 280px;
    max-width: 300px;
}

.curriculum_container h2 {
    color: var(--dark_blue);
}

/* Portfolio */
.scroller {
    padding: 2%;
    background-color: var(--color_yellow);
    text-align: center;
}

.app_title_icon {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    height: 24px;
    width: 24px;
    border-radius: 8px;
}

.image_scroller {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 20px 0;
    margin-bottom: 24px;
}

/* Contato */

.form_container {
    padding: 5% 0;
    background-color: var(--color_yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form_box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--color_white);
    width: 700px;
}

/* Estilização do título dentro da caixa de formulário */
.form_box h2 {
    padding: 24px 32px;
    font-size: 24px;
}

.form_box form {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    gap: 16px;
}

/* Estilização dos campos de input e textarea */
.form_box input,
.form_box textarea {
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    border: thin solid gray;
    padding-left: 16px;
    font-size: 16px;
}

.form_box input[name=subject],
.form_box textarea {
    width: 100%;
}

.form_box textarea {
    height: 180px;
    padding: 8px 16px;
}

/* Estilização do botão do formulário */

.form_box button {
    margin-top: 24px;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color_blue);
    color: var(--color_white);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.form_box button:hover {
    background-color: var(--color_yellow);
}